[submodule "notes/rust/rustlings"]
	path = notes/rust/rustlings
	url = https://github.com/rust-lang/rustlings
[submodule "projects/sideprojects/blockchains/solana"]
	path = projects/sideprojects/blockchains/solana
	url = https://github.com/mvines/solana-bpf-program-template.git
[submodule "notes/go/learngo"]
	path = notes/go/learngo
	url = https://github.com/inancgumus/learngo.git
[submodule "notes/scala/fp-in-scala/fpinscala"]
	path = notes/scala/fp-in-scala/fpinscala
	url = https://github.com/fpinscala/fpinscala.git
[submodule "projects/sideprojects/website/my-website/hugo"]
	path = projects/sideprojects/website/my-website/hugo
	url = https://github.com/Awannaphasch2016/MyHugoWebsite.git
